 /*login-page.html css*/
                .background{
                    background-image: linear-gradient(to right, #DC74B1, #976FDF);
                    align-items:center;
                    justify-content:center;
                    display:flex;
                }
                .position{
                    display:flex;
                    flex-direction: column;
                    align-items:center;
                    justify-content:center;
                    padding-top:200px;
                }
                .header-general{
                    display:flex;
                    justify-content:space-between;
                    width:100%;
                    margin-bottom:10px;
                    margin-top:-180px;
                }
                .buttons-location{
                    margin-left:40%;
                    align-items:center;
                }
                .buttons-menu{
                    height:55px;
                    width:100px;
                    margin-left:30px;
                    border-radius:30px;
                    font-family:"Montserrat", "sans-serif";
                    font-size:20px;
                    color:white;
                    background:none;
                    border:2px solid white;
                    transition:0.5s;
                }
                .buttons-menu:hover{
                    transition:0.5s;
                    background: #412340;
                }
                .buttons-menu-disabled {
                    background: #A359A0;
                }
                .buttons-menu-disabled:hover{
                    background: #A359A0;
                    cursor:not-allowed;
                }
                .left-side{
                    display:flex;
                    flex-direction:column;
                    align-items:center;
                    justify-content:center;
                    height:550px;
                    width:600px;
                    padding:20px;
                    margin-bottom:50px;
                    margin-top:-10px;
                }
                .header-left-side{
                    font-family:'Montserrat', 'sans-serif';
                    font-size:40px;
                    font-weight:1000;
                    color:#F4DAE1;
                    text-transform:uppercase;
                    width:450px;
                    letter-spacing: 3px;
                    text-shadow:2px 3px 5px black;
                    margin-top:-30px;
                    margin-bottom:10px;
                }
                .divider-left-side{
                    border-top:2px solid black;
                    margin-top:20px;
                    width:475px;
                }
                .header-bottom-side{
                    margin-top:20px;
                    color:white;
                    width:450px;
                    height:100%;
                }
                .left-side-bottom-text{
                    margin-top:20px;
                    color:#FFFFFF;
                    font-family:'Montserrat', 'sans-serif';
                    font-size:20px;
                    font-weight:100;
                    position:relative;
                    letter-spacing:2px;
                    
                }
                .image-bottom-left-side{
                    position:absolute;
                    width:400px;
                    height:400px;
                    top:50px;
                    left:200px;
                    z-index:-1;
                }
                .button-see-more{
                    margin-top:30px;
                    background: #951ABE;
                    color: #FFFFFF;
                    font-family:'Inter', 'sans-serif';
                    font-size:20px;
                    font-weight:400;
                    letter-spacing:3px;
                    box-shadow: 1px 1px 3px 0.5px black;
                    border:none;
                    border-radius:15px;
                    height:50px;
                    width:200px;
                    transition:0.5s;
                }
                .button-see-more:hover{
                    transition:0.5s;
                    background:#640B82;
                    color:#FFFFFF;
                }
                .wrapper{
                    margin-top:40px;
                    display:flex;
                    flex-direction:row;
                    justify-content:space-between;
                    width:100%;
                    align-items:center;
                    column-gap:150px;
                }
                .container{
                    border-radius:25px;
                    background:#FFFFFF;
                    height:550px;
                    width:450px;
                    justify-content:center;
                    align-items:center;
                    text-align:center;
                    display:flex;
                    flex-direction: column;
                }
                .header{
                    font-family: "Montserrat", sans-serif;
                    font-weight:1000;
                    font-size:36px;
                    align-items:center;
                    justify-content:center;
                }
                .subtitle{
                    font-size:16px;
                }
                .contents{
                    display:flex;
                    justify-content:space-between;
                    padding-top:20px;
                    row-gap:30px;
                    flex-direction: column;
                }
                .textcontainer-login{
                    background:#E6DBE6;
                    width:370px;
                    height:60px;
                    border-radius:20px;
                    display:flex;
                    align-items:center;
                }
                .texticon-email-login{
                    height:24px;
                    width:34px;
                    margin-right:5px; 
                    margin-left:5px;
                }
                .texticon-password-login{
                    height:40px;
                    width:31px;
                    margin-right:5px; 
                    margin-left:5px;
                }
                .textbox-login{
                    background:#E6DBE6;
                    height:95%;
                    width:100%; 
                    border-radius:20px;
                    border:0px;
                    font-family: "Inter", sans-serif;
                    font-size:20px;
                    transition:0.5s ease; 
                }
                .textbox-login:focus{
                    outline:none;
                    transition:0.5s ease;
                    background:#a79ea7;
                    color:white;
                }
                .submitbutton[type=submit]{
                    width:370px;
                    height:50px;
                    border-radius:10px;
                    border-width:0px;
                    padding-left:20px;
                    background:#709176;
                    color:white;
                    font-size:20px;
                    font-weight:700;
                    font-family: "Inter", sans-serif;  
                    letter-spacing:4px;
                    box-shadow: 1px 1px 3px 0.5px black;
                }
                .submitbutton[type=submit]:hover{
                    transition:0.75s;
                    background:white;
                    color:black;
                }
                .contents-bottom{
                    font-family: "Inter", sans-serif;  
                    padding-top:20px;
                    font-size:20px;
                }
                .checkboxCCS{
                    width:40px;
                    height:20px;
                    border-radius:10px;
                    border-width:4px;
                    border-color:black;
                    background-color: #eee;
                }
                .bottom{
                    padding-top:10px;
                    font-size:20px;
                    font-family: "Inter", sans-serif;    
                    justify-content:right;
                    display:flex;
                    align-items:flex-end; 
                    margin-top:-40px;
                    width:92%;
                }
                a{
                    padding-left:5px;
                    color:white;
                    margin:0;
                    padding:0;
                }
/*signup-initial.html CSS*/
.headerquestion{
    font-family: "Montserrat", sans-serif;
    font-weight:1000;
    font-size:28px;
    width:80%;
    align-items:center;
    justify-content:center;
}
.contents-question{
    display:flex;
    flex-direction:row;
}
.box-container{
    background:#A359A0;
    border-radius:20px;
    height:150px;
    width:150px;
    margin:20px;
    margin-top:40px;
    margin-bottom:-30px;
    padding:8px;
}
.white-box{
    border-radius:15px;
    height:150px;
    width:150px;
    display:flex;
    background:#FFFFFF;
    justify-content:center;
    align-items:center;
   
}
.imgdetails{
    padding-right:5px;
    height:150px;
    width:auto;
}
.bottomquestion{
    display:flex;
    flex-direction:row;
    margin:20px;
}
.textbottomquestion{
    font-family:"Montserrat", sans-serif;
    font-weight:1000;
    font-size:28px;
    width:150px;
    margin:30px;
    align-items:center;
}
[type=radio]{
    position:absolute;
    opacity:0;
    width:0;
    height:0;
    border-radius:15px;
}
[type=radio]:checked + img{
    transition-duration:0.15s;
    border-radius:15px;
    background:#000000;
}
.submitbuttonquestion[type=submit]{
    width:200px;
    height:50px;
    border-radius:10px;
    border-width:0px;
    padding-left:20px;
    background:#709176;
    color:white;
    font-size:20px;
    font-weight:700;
    font-family: "Inter", sans-serif;  
    letter-spacing:4px;
    box-shadow: 1px 1px 3px 0.5px black;
}
.submitbuttonquestion[type=submit]:hover{
    transition:0.75s;
    background:white;
    color:black;
}
/*signup-student.html AND signup-labtechnician.html CSS*/
.container-studentlab{
    border-radius:25px;
    background:#FFFFFF;
    height:550px;
    width:450px;
    justify-content:center;
    align-items:center;
    text-align:center;
    display:flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}
.header-studentlab{
    font-weight:1000;
    font-size:28px;
    width:80%;
}
.subheader-studentlab{
    justify-content:center;
    font-weight:400;
    font-size:16px;
    width:80%;
    margin-bottom:20px;
}
.content-studentlab{
    display:flex;
    flex-direction:row;
}
.textcontainer-studentlab{
    background:#E6DBE6;
    width:350px;
    height:60px;
    border-radius:20px;
    display:flex;
    align-items:center;
    margin-bottom:20px;
}
.texticon-email-studentlab{
    height:24px;
    width:34px;
    margin-right:5px; 
    margin-left:5px;
}
.texticon-password-studentlab{
    height:40px;
    width:31px;
    margin-right:5px; 
    margin-left:5px;
}
.textbox-studentlab{
    background:#E6DBE6;
    height:95%;
    width:100%; 
    border-radius:20px;
    border:0px;
    font-family: "Inter", sans-serif;
    font-size:20px;
    transition:0.5s ease; 
}
.textbox-studentlab:focus{
    outline:none;
    transition:0.5s ease;
    background:#a79ea7;
    color:white;
}
.submitbuttonsignup[type=submit]{
    margin-top:20px;
    width:350px;
    height:50px;
    border-radius:10px;
    border-width:0px;
    padding-left:20px;
    background:#709176;
    color:white;
    font-size:20px;
    font-weight:700;
    font-family: "Inter", sans-serif;  
    letter-spacing:4px;
    box-shadow: 1px 1px 3px 0.5px black;
}
.submitbuttonsignup[type=submit]:hover{
    transition:0.75s;
    background:white;
    color:black;
}
.footer-studentlab{
    padding-top:10px;
    margin-top:auto;
    font-family: "Inter", sans-serif;
    font-size:20px;
    text-align:center;
    display:flex;
    align-items:flex-end;
    position:relative;
    top:-40px;
    left:445px;
}

