.header{
    background: #FCFBF1;
    height:150px;
    justify-content:center;
    align-items:center;
    display:flex;
}
.imglogo{
    height:85px;
    width:auto;
}
.taskbar{
    background-image: linear-gradient(to right, #DC74B1, #976FDF);
    height:130px;
    width:auto;
    display:flex;
    justify-content:center;
}
.btndivider{
    padding-top:30px;
    padding-left:30px;
    padding-right:5px;
    flex-direction:row;    
}
.btndesign{
    padding:35px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:30px;
    color:#FFFFFF;
    border-radius:45px;
    border-color:#FFFFFF;
    border-style:solid;
    border-width:3px;
    background-color: transparent;
    height:70px;
    font-family: "Montserrat", sans-serif;
}
.btndesign:hover{
    transition-duration:0.5s;
    background-color:#292929;
    color:white;
}
.searchdivider{
    padding-top:30px;
    padding-left:100px;
    flex-direction:row;    
}
.searchfield{
    border-style:solid;
    border-color:#000000;
    background-color:#FFFFFF;
    border-width:3px;
    height:70px;
    width:500px;
    border-radius:40px;
    display:flex;
    flex-direction:row;

}
.searchinput[type=text]{
    font-family: "Montserrat", sans-serif;
    font-size:25px;
    padding-left:40px;
    padding-top:5px;
    height:60px;
    width:400px;
    border-radius:40px;
    border-width:0px;
}
.searchinput[type=text]:focus{
    border:none;
    outline:none;
    padding: auto;
}
.imgbtn{
    padding-right:120px;
    height:70px;
    width:auto;
    margin-left: 12px;
}
.searchbutton{
    background:transparent;
    border:none;
    outline:none;
    background-color:#FFFFFF;
    border-radius:40px;
    height:50px;
    width:65px;
    margin-left: 5px;
    margin-right: 5px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #FCFBF1;
}

/* footer */
.footer-container {
    display: flex;
    height: 400px;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: black;
    opacity: 98%;
}

.footer-column-1,
.footer-column-2,
.footer-column-3 {
    flex: 1;
    margin-right: 20px;
}

.footer-column-2 h3,
.footer-column-3 h3 {
    font-size:40px;
    margin-bottom: 10px;
    color: #DC74B1;
    font-family: "Montserrat Bold", sans-serif;
}

.tagline{
    font-family: "Montserrat", sans-serif;
    font-size:30px;
    color: #FFFFFF;
}
