.header{
    background: #FCFBF1;
    height:100px;
    justify-content:center;
    align-items:center;
    display:flex;
}
.imglogo{
    height:70px;
    width:auto;
}
.taskbar{
    background-image: linear-gradient(to right, #DC74B1, #976FDF);
    height:140px;
    width:auto;
    display:flex;
    justify-content:center;
}
.btndivider{
    padding-top:30px;
    padding-left:20px;
    padding-right:5px;
    flex-direction:row;    
}
.btndesign{
    padding:35px;
    padding-top:20px;
    font-size:30px;
    color:#FFFFFF;
    border-radius:45px;
    border-color:#FFFFFF;
    border-style:solid;
    border-width:3px;
    background-color: transparent;
    height:80px;
    font-family: "Montserrat", sans-serif;
}
.btndesign:hover{
    transition-duration:0.5s;
    background-color:#292929;
    color:white;
}
.searchdivider{
    padding-top:20px;
    padding-left:100px;
    flex-direction:row;    

}
.searchfield{
    border-style:solid;
    border-color:#000000;
    background-color:#FFFFFF;
    border-width:3px;
    height:90px;
    width:600px;
    border-radius:40px;
    display:flex;
    flex-direction:row;

}
.searchinput[type=text]{
    font-family: "Montserrat", sans-serif;
    font-size:25px;
    padding-left:80px;
    padding-top:5px;
    height:80px;
    width:518px;
    border-radius:40px;
    border-width:0px;
}
.searchinput[type=text]:focus{
    border:none;
    outline:none;
}
.imgbtn{
    padding-right:120px;
    height:90px;
    width:auto;
}
.searchbutton{
    background:transparent;
    border:none;
    outline:none;
    background-color:#FFFFFF;
    border-radius:40px;
    height:90px;
    width:100px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #FCFBF1;
}

/*  TABLE CSS  */

.tablediv {
    background-color: #ffffff;
    max-width: fit-content;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    overflow: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 3px solid #000;
}

table {
    font-family: "Montserrat", sans-serif;
    border-collapse: collapse;
    max-width: fit-content;
}
  
  th, td {
    font-size: smaller;
    padding: 20px;
    text-align: center;
    
  }

  th {
    background-color: #f4dae1;
    font-size: 18px;
    padding-top: 35px;
    padding-bottom: 35px;
    box-shadow: inset 0px 5px 0px rgba(0, 0, 0, 0.2);
    outline: 2px solid #000;
    top:0;
    position: sticky;
  }

  td {
    background-color: #fff;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;

  }

  th:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
  }

  th:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  #editaction {
    padding-right: 5px;
    padding-left: 5px;
  }

  #cancelaction {
    padding-left: 5px;
    padding-right: 5px;
  }

  #vieweditbtn{
    padding:35px;
    padding-top:20px;
    font-size:30px;
    color:#000;
    border-radius:45px;
    border-color:#FFFFFF;
    border-style:solid;
    border-width:3px;
    background-color: #A359A1;
    height: 80px;
    font-family: "Montserrat", sans-serif;
}
 