.anon-text {
    color: red;
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px; 
}

.date-input {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
    background: #E6DBE6;
}