<!DOCTYPE html>

<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
        <link href="https://rsms.me/inter/inter.css" rel="stylesheet">
        <link rel="stylesheet" href="css-main/cssloginsignup.css">
        <link rel="icon" href="images/icon.png">
        <title>tinkerlab.</title>
    </head>
    <body class="background">
            <div class="position">
                <div class="header-general">
                    <img src="images/tinkerlablogo-yellow.png" height="55px" width="274px">
                    <div class="buttons-location">
                        <button class="buttons-menu" disabled>Login</button>
                        <a href="/signup-initial"><button class="buttons-menu">Sign Up</button></a>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="left-side">
                        <div class="header-left-side">
                            Want to reserve a seat on your favourite lab?
                        </div>
                        <div class="divider-left-side"> </div>
                        <div class="left-side-bottom-text">
                            Join our lab reservation system to easily <br>
                            book your spot, check availability, and  <br>
                            manage your reservations.  <br>
                            Sign up today with your  <br>
                            DLSU  email  and  get  <br> 
                            started   on  making  <br>
                            the most of your lab  <br>
                            time! <br>
                            <a href="/CT-Reservation_search_view-only"><button class="button-see-more">SEE MORE</button></a>
                            <img src="images/phone-bulbs.png" class="image-bottom-left-side">
                        </div> 
                    </div> 
                    <div class="container">

                        {{#if error}}
                              <p class="error-text">{{error}}</p>
                        {{/if}}
                            <div class="header">
                                WELCOME BACK
                                <div class="subtitle">Enter your credentials to log in.</div>
                                
                            </div>
                            <div class="contents">
                                <form action ="/login" method="POST">
                                <div class="textcontainer-login">
                                    <img src="images/email-icon.png" class="texticon-email-login">
                                    <input type="text" class="textbox-login" id="login-email" name="email" placeholder="Email Address">
                                </div>   

                                <div class="textcontainer-login">
                                    <img src="images/lock-password.png" class="texticon-password-studentlab">
                                    <input type="password" class="textbox-login" id="login-password" name="password" placeholder="Password">
                                </div>                    
                                <input type="submit" id="login-button" class="submitbutton" value="LOGIN"> 
                                </form> 
                            </div>
                            <div class="contents-bottom">
                            <input type="checkbox" class="checkboxCCS">Remember me
                            </div>
                    </div>

                </div>
                <div class="bottom">Don't have an account yet?<a href="/signup-initial">Sign Up</a></div>


            </div>
        </div>
        <script>
            const colorBgContainer = document.querySelectorAll(".textbox-login");
            event. preventDefault(); //This is so the default form submission is not there.
            colorBgContainer.forEach(input =>{
                input.addEventListener('focus', function(){
                    const textContainer = input.closest('.textcontainer-login');
                    textContainer.style.backgroundColor='#a79ea7';
                    textContainer.style.transition='0.5s ease';
                });
                
                input.addEventListener('blur', function(){
                    const textContainer = input.closest('.textcontainer-login');
                    textContainer.style.backgroundColor='#E6DBE6';
                    textContainer.style.transition='0.5s ease';
                })
            });

            const disabledButton = document.querySelector(".buttons-menu[disabled]");

            disabledButton.classList.add('buttons-menu-disabled');
            
            document.getElementById('loginForm').onsubmit = async (event) => {
                event.preventDefault();
                const formData = new FormData(event.target);
                try {
                    const response = await fetch('/login', {
                        method: 'POST',
                        body:formData
                    });
        
                        const result = await response.json();
                    if (!response.ok){
                        alert(result.message);
                    } else {
                        window.location.href = result.redirectUrl;
                    }
                } catch (error) {
                    console.error('Error during login: ', error);
                    alert('Server error, please try again!');
                }
            };

            /*document.getElementById('login-button').addEventListener('click', function(){
                const emailCheck = document.getElementById('login-email').value.trim();
                const emailDomain = "@dlsu.edu.ph";

                if (emailCheck.includes('_') && emailCheck.endsWith(emailDomain)){
                    window.location.href='/CT-homepage';
                }
                else if (emailCheck.includes('.') && emailCheck.endsWith(emailDomain)){
                    window.location.href='/LT-homepage';
                }
                else{
                    alert('Invalid email and password! Please double check.');  
                }
            }); */
            

            
           
        </script>
    </body>
    
</html>